---
import BaseLayout from "../layouts/BaseLayout.astro";
import Posts from "../components/Posts.astro";
const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true }),
);
const pageTitle = "Blog Page";
---

<BaseLayout {pageTitle}>
  <p>Welcome to the blog page of our Astro project.</p>
  <Posts posts={allPosts} />
</BaseLayout>
